<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/fragments :: myhead}"></head>


<link rel="stylesheet" href="/css/admin/contract_list.css" />
<link rel="stylesheet" href="/css/admin/nav.css" />
<link rel="stylesheet" href="/css/admin/schoolList.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">



<body>
<div class="container">
    <ul th:replace="~{/layout/fragments::navbar(current='3')}"></ul>
    <div class="filter-bar">
        <label for="areaSelect">지역:</label>
        <select id="areaSelect" name="area">
            <option value="전체" th:selected="${selectedArea == null or selectedArea == '전체'}">전체</option>
            <option value="서울" th:selected="${selectedArea == '서울'}">서울특별시</option>
            <option value="경기" th:selected="${selectedArea == '경기'}">경기</option>
            <option value="인천" th:selected="${selectedArea == '인천'}">인천광역시</option>
            <option value="부산" th:selected="${selectedArea == '부산'}">부산광역시</option>
            <option value="대전" th:selected="${selectedArea == '대전'}">대전광역시</option>
            <option value="광주" th:selected="${selectedArea == '광주'}">광주광역시</option>
            <option value="대구" th:selected="${selectedArea == '대구'}">대구광역시</option>
            <option value="울산" th:selected="${selectedArea == '울산'}">울산광역시</option>
            <option value="세종" th:selected="${selectedArea == '세종'}">세종특별자치시</option>
            <option value="제주" th:selected="${selectedArea == '제주'}">제주특별자치도</option>
            <option value="강원" th:selected="${selectedArea == '강원'}">강원도</option>
            <option value="경북" th:selected="${selectedArea == '경북'}">경상북도</option>
            <option value="경남" th:selected="${selectedArea == '경남'}">경상남도</option>
            <option value="전북" th:selected="${selectedArea == '전북'}">전라북도</option>
            <option value="전남" th:selected="${selectedArea == '전남'}">전라남도</option>
            <option value="충북" th:selected="${selectedArea == '충북'}">충청북도</option>
            <option value="충남" th:selected="${selectedArea == '충남'}">충청남도</option>
        </select>

        <!-- 검색 input + 버튼 -->
        <div style="position: relative; width: 500px;">
            <input type="text" id="schoolSearchKeyword" name="keyword"
                   th:value="${searchedKeyword}"
                   placeholder="학교명 / 감독 / 연락처 / 요원명 검색"
                   style="width: 100%; border-radius: 30px; border: 1px solid rgb(211, 211, 211);
                      padding: 12px 70px 12px 30px;" />
            <button type="button" id="searchSchoolBtn" class="icon position-absolute"
                    style="bottom: 4px; right: 20px; border: none; background-color: white; padding: 5px;">
                <i class="bi bi-search" style="color: #808080; font-size: 20px;"></i>
            </button>
        </div>

        <button type="button" id="resetBtn">초기화</button>

        <button type="button" class="btn-outline-primary">
            <a th:href="@{/admin/schoolRegisterForm}">학교 등록</a>
        </button>
    </div>
</div>
    <!-- 현장요원 목록 테이블 -->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>지역</th>
            <th>학교</th>
            <th>주소</th>
            <th>시험 날짜</th>
            <th>학교 책임자</th>
            <th>책임자 번호</th>
            <th>현장요원</th>
            <th>요원 전화번호</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="school, stat : ${schoolList}" th:if="${!#lists.isEmpty(schoolList)}">
            <td th:text="${school.area}"></td>
            <td>
                <a th:href="@{/admin/schoolDetail/{id}(id=${school.schoolId})}" th:text="${school.schoolName}"></a>
            </td>
            <td th:text="${school.schoolAddress}"></td>
            <td th:text="${#temporals.format(school.testDate, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${school.schoolAdminName}"></td>
            <td th:text="${school.schoolAdminPhoneNumber}"></td>
            <td>
                <a th:if="${school.agent != null}"
                   th:href="@{/admin/apply/{id}(id=${school.agent.id})}"
                   th:text="${school.agent.name}"></a>
            </td>            <td th:text="${school.agent != null and school.agent.phoneNumber != null ? school.agent.phoneNumber : ''}"></td>

        </tr>
        <!-- 데이터가 없을 경우 메시지 출력 -->
        <tr th:if="${#lists.isEmpty(schoolList)}">
            <td colspan="8"
                style="padding: 30px 0; text-align: center; font-weight: bold; color: gray;">
                등록된 학교가 없습니다.
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- 페이징 -->
<!--<div th:if="${contracts.content.size() > 0}"-->
<!--     class="fixed-bottom d-flex justify-content-center mb-4">-->
<!--    <nav aria-label="Page navigation">-->
<!--        <ul class="pagination">-->
<!--            <li class="page-item"-->
<!--                th:classappend="${contracts.hasPrevious()} ? '' : 'disabled'">-->
<!--                <button id="prevBtn" class="page-link"-->
<!--                        th:data-id="${currentPage - 1}" aria-label="Previous">이전</button>-->
<!--            </li>-->
<!--            <li class="page-item"-->
<!--                th:each="i : ${#numbers.sequence(0, totalPages - 1)}"-->
<!--                th:classappend="${i == currentPage} ? 'active' : ''"><button-->
<!--                    th:data-id=${i} class="page-link numBtn" th:text="${i + 1}">1</button></li>-->
<!--            <li class="page-item"-->
<!--                th:classappend="${contracts.hasNext()} ? '' : 'disabled'">-->
<!--                <button id="nextBtn" th:data-id="${currentPage + 1}"-->
<!--                        class="page-link" aria-label="Next">다음</button>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</div>-->


<script th:replace="~{/layout/fragments :: bootstrap_js}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="../../js/schoolList.js"></script>
<script th:inline="javascript">
    const currentArea = /*[[${param.area}]]*/ null;
    console.log("현재 서버 area 값:", currentArea);
</script>
</body>

</html>