@charset "UTF-8";

.logoutBtn{
	margin-top:30px;
}

.nav {
	display: flex;
	align-content: center;
	font-weight: bold;
	font-size: 1.3rem;
	list-style-type: none; /* 기본 리스트 스타일 제거 */
}

.nav-link {
	text-decoration: none; /* 링크의 기본 밑줄 제거 */
	padding: 10px 15px; /* 패딩 추가하여 클릭 영역 확장 */
	border: none;
	color: rgb(128, 128, 128);
}

.nav-link:hover {
	color: rgb(128, 128, 128); /* 활성 탭의 텍스트 색상 */
	border-bottom: 5px solid rgb(128, 128, 128);
}

.nav-link.active {
	color: rgb(0, 0, 0); /* 활성 탭의 텍스트 색상 */
	border-bottom: 5px solid black;
}